Repository RohanAlexander/DoSStoolkit, pull requests merged in 2021-05, with the labels that each got.

#26 slight correction to plot labels in hello_world
  inst/tutorials/hello_world/hello_world.Rmd
Labels: hello_world

#25 addressed review comments "totally addicted to base"
  inst/tutorials/hand_me_my_plyrs/hand_me_my_plyrs.Rmd
  inst/tutorials/r_marky_markdown/r_marky_markdown.Rmd
  inst/tutorials/to_ggplot_or_not_to_ggplot/to_ggplot_or_not_to_ggplot.Rmd
  inst/tutorials/totally_addicted_to_base/totally_addicted_to_base.Rmd
Labels: totally_addicted_to_base

#27 add commenting shortcut for mac users
  inst/tutorials/hand_me_my_plyrs/hand_me_my_plyrs.Rmd
  inst/tutorials/holding_the_chaos_at_bay/holding_the_chaos_at_bay.Rmd
Labels: holding_the_chaos_at_bay
